@import '../variables';

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -@grid-padding-s;
}

[class*="col-"] {
    flex: none;
    width: 100%;
    padding: @grid-padding-s;
}

.cols(@t, @n, @i: 1) when ((@i < @n) or (@i = 1)) {
    .col-@{t}-@{i}-@{n} {
        width: 100% * @i / @n;
    }
    .cols(@t, @n, (@i + 1));
}

.visibility(@t) {
    .d-@{t}-none         { display: none !important; }
    .d-@{t}-inline       { display: inline !important; }
    .d-@{t}-inline-block { display: inline-block !important; }
    .d-@{t}-block        { display: block !important; }
    .d-@{t}-table        { display: table !important; }
    .d-@{t}-table-row    { display: table-row !important; }
    .d-@{t}-table-cell   { display: table-cell !important; }
    .d-@{t}-flex         { display: flex !important; }
    .d-@{t}-inline-flex  { display: inline-flex !important; }
}

.cols(x, 1);
.cols(x, 2);
.cols(x, 3);
.cols(x, 4);
.cols(x, 5);
.visibility(x);

@media (min-width: @break-m-min) {
    .cols(m, 2);
    .cols(m, 3);
    .cols(m, 4);
    .cols(m, 5);
    .cols(m, 1);
    .visibility(m);
}

@media (min-width: @break-t-min) {
    .cols(t, 2);
    .cols(t, 3);
    .cols(t, 4);
    .cols(t, 5);
    .cols(t, 1);
    .visibility(t);
}

@media (min-width: @break-d-min) {
    .cols(d, 2);
    .cols(d, 3);
    .cols(d, 4);
    .cols(d, 5);
    .cols(d, 1);
    .visibility(d);
}

.row--spacing-large {
    margin: -@grid-padding-t;

    [class*="col-"] {
        padding: @grid-padding-t;
    }
}

.row--center {
    justify-content: center;
}

.spacing-top-medium {
    padding-top: @grid-padding-m !important;
}

.spacing-top-large {
    padding-top: @grid-padding-t !important;
}