@import '../variables';

.font-family--default { font-family: @font-family--default !important; }
.font-family--primary { font-family: @font-family--primary !important; }
.font-size--xxsmall { font-family: @font-size--xxsmall !important; }
.font-size--xsmall { font-family: @font-size--xsmall !important; }
.font-size--small { font-family: @font-size--small !important; }
.font-size { font-family: @font-size !important; }
.font-size--smedium { font-family: @font-size--smedium !important; }
.font-size--medium { font-family: @font-size--medium !important; }
.font-size--xmedium { font-family: @font-size--xmedium !important; }
.font-size--xxmedium { font-family: @font-size--xxmedium !important; }
.font-size--xxxmedium { font-family: @font-size--xxxmedium !important; }
.font-size--large { font-family: @font-size--large !important; }
.font-size--xlarge { font-family: @font-size--xlarge !important; }
.font-size--huge { font-family: @font-size--huge !important; }

.text--default {color: @color--default}
.text--primary {color: @color--primary}
.text--secondary {color: @color--secondary}
.text--blue-green {color: @color--blue-green}
.text--highlight {color: @color--highlight}
.text--light {color: @color--light}
.text--lighter {color: @color--lighter}
.text--dark {color: @color--dark}
.text--grey {color: @color--grey}
.text--brown-grey {color: @color--brown-grey}

.link {
    color: @color--primary;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.text--line-through {
    text-decoration: line-through;
}

.text--center {
    text-align: center;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

body.open-popup {
    position: fixed;
    overflow: hidden;
}

.flex-grow {
    flex: 1 0 auto;
}

.relative {
    position: relative;
}

.z-index-1 {
    position: relative;
    z-index: 1;
}

.no-margin {
    margin: 0 !important;
}