@import '../variables';

.link() {
    color: @color--primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.ellipsis(@n; @lh: 1.4em) {
    display: block;
    display: -webkit-box;
    line-height: @lh;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: @n;
    -webkit-box-orient: vertical;
    max-height: (@lh * @n);
}

.font(@s, @w) {
    font-size: @s;
    font-weight: @w;
}

.visually-hidden() {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
