@import '../variables';
@import '../mixins';

.card {
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
    transition: all .3s ease;
    word-wrap: break-word;
    color: @color--dark;

    .font(15px, 400);

    &:hover {

        .card__title {
            color: @color--primary;
        }
    }

    @media (min-width: @break-t-min) {
        display: flex;
    }
}

.card__inner {
    padding: 20px 0 16px; // 16px bottom because of line height of text

    @media (min-width: @break-t-min) {
        flex: 0 1 100%;
        padding: 0 0 16px;
    }
}

.card__image-wrapper {
    position: relative;
    display: block;
    padding-bottom: percentage(9/16);
    overflow: hidden;

    @media (min-width: @break-t-min) {
        flex: 1 1 100%;
        max-width: 330px;
        height: 220px;
        padding: 0;
        margin-right: 30px;
        min-width: 300px;
    }
}

.card__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: auto;
    display: block;
    z-index: 10;
    transform: translateX(-50%);
}

.card__title {
    font-family: @font-family--primary;
    margin: 0 0 10px 0;
    transition: color .3s ease;

    .font(@font-size--smedium, 700);

    @media (min-width: @break-t-min) {
        margin: 0 0 15px 0;

        .font(@font-size--medium, 700);
    }
}

.card__content {
    line-height: 1.5;
}

.card__text {
    margin: 0;
}

.card__meta {
    margin-bottom: 18px;
    color: @color--primary;

    @media (min-width: @break-t-min) {
        margin-bottom: 10px;
    }
}

.card__rating {
    display: flex;
    color: @color--grey;
    font-weight: 600;
}

.card__rating-text {
    margin-right: 10px;
}

.card--profile {
    .card__image-wrapper {
        max-width: none;
        min-width: 0;
        width: 150px;
        height: auto;
        flex: 1 0 auto;
        margin: 0 auto;
        padding: 0;

        @media(min-width: @break-t-min) {
            margin-right: 30px;
        }
    }

    .card__image {
        position: static;
        width: 100%;
        height: auto;
        display: block;
        object-fit: none;
        transform: none;
    }

    .card__content {
        font-size: 14px;
        line-height: 1.6;
    }

    .card__text {
        margin-bottom: 20px;
    }

    .card__inner {
        padding-bottom: 0;
    }

    .card__rating {
        @media(max-width: @break-t-max) {
            justify-content: center;
        }
    }

    @media (max-width: @break-t-max) {
        text-align: center;
    }
}