@import '../variables';

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 @mobile-container-padding;

    @media (min-width: @break-t-min) {
        padding: 0 @desktop-container-padding;
    }

    @media (min-width: @break-d-min) {
        padding: 0 @desktop-container-padding;
    }

    @media (min-width: @container-width) {
        max-width: @container-width;
        padding: 0 @tablet-container-padding;
    }
}

.container--no-padding {
    padding: 0 !important;
}