@import '../variables';
@import '../mixins';

.footer {
    padding: 20px 0;
    border-top: 5px solid #40b153;
    background-color: #1f1f1f;
    color: #a4a4a4;
    text-align: center;

    p {
        margin: 0;
    }

    @media (min-width: @break-t-min) {
        padding: 40px 0 50px;
        text-align: left;
    }
}

.footer__right {
    flex: 1 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
        flex: 1 0 auto;
        align-items: flex-end;
    }
}

.footer__widget-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;

    .font(@font-size--small, 600);
}

.footer__widget-content {
    padding: 10px;
    line-height: 1.7;

    a {
        color: #a4a4a4;
    }

    @media(min-width: @break-t-min) {
        padding: 10px 10px 10px 0;
    }
}

.footer__widget-contact {
    @media (max-width: @break-t-max) {
        padding-top: 0;
    }
}

.footer__socials {
    display: flex;

    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__socials-item {
    margin-right: 10px;
}

.footer__socials-item:last-child {
    margin-right: 0;
}

.footer__socials-link {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #2e2e2e;
    outline: none;
    transition: background .25s;

    &:focus,
    &:hover {
        background: #2e2e2e;
    }
}

.footer__socials-icon {
    color: #fff;
    font-size: 18px;
}