@import '../variables';

.header {

}

.header__offset {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.header__offset-wrapper {
    padding: 0 @mobile-container-padding;

    @media(min-width: (@container-width + (2 * @mobile-container-padding))) {
        padding: 0;
    }
}