@import '../variables';
@import '../mixins';

.section {
    background: #fff;
    padding: 0 20px 50px 20px;

    .container {
        padding: 0;
    }
}

.section__title {
    padding: 45px 0 30px 0;
    margin: 0;
    text-align: center;

    .font(@font-size--xxmedium, 700);

    @media (min-width: @break-t-min) {
        padding: 45px 10%;
    }
}

.section__card-item {
    margin-bottom: 30px;
}

.section__container {
    display: flex;
    flex-direction: column;
}

.section__container--p-left {
    padding-left: 0;

    @media (min-width: @break-t-min) {
        padding-left: 80px;
    }
}

.section__container--p-right {
    padding-right: 0;

    @media (min-width: @break-t-min) {
        padding-right: 80px;
    }
}

.section__intend-bottom {
    margin-bottom: 45px;
}

.section__title--filters {
    padding: 20px 0 5px 0;
    color: @color--grey;
    text-align: left;

    .font(13px, 500);

    @media (min-width: @break-t-min) {
        padding: 30px 0 5px 0;
    }
}

.section__profile-card {
    padding: 40px 20px;

    @media (min-width: @break-t-min) {
        padding: 70px 0 60px 0;
    }
}

/* Content */
.section__article {
    margin-top: 20px;

    @media (min-width: @break-t-min) {
        margin-top: -85px;
    }
}

.section__content-button {
    margin-bottom: 40px;
}

.section__side-bar {
    @media (min-width: @break-t-min) {
        margin-top: 30px;
    }
}

/* Form */
.section__form-block {
    padding: 35px 60px;
    border-bottom: 1px solid @color--border;

    @media (max-width: @break-t-max) {
        padding: 20px 20px;
    }
}

.section__form-title {
    margin-bottom: 20px;
    font-family: @font-family--primary;
    text-align: center;

    .font(@font-size--medium, 700)
}

.section__registration {
    margin-top: -@offset--static;
}

/* Modifiers */
.section--transparent {
    background: transparent;
}

.section--gradient {
    position: relative;
    background: @color--lighter;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 150px;
        content: '';
        background-image: @gradient--secondary;
    }
}

.section--grey {
    background: #F4F6F7;
}

.section--extra-padding-bottom {
    padding-bottom: 50px;

    @media (min-width: @break-t-min) {
        padding-bottom: 80px;
    }
}

.section--extra-padding-top {
    padding-top: 50px;
}

.section--no-padding {
    padding: 0;
    overflow: hidden; // Because of job-detail.html overflow
}

.section--border-radius {
    border-radius: 2px;
}

.section__title--big {
    .font(@font-size--xmedium, 700);

    @media (min-width: @break-t-min) {

        .font(@font-size--xlarge, 700);
    }
}

.section__container--desktop {
    @media (max-width: @break-t-max) {
        display: none;
    }
}

.section__container--mobile {
    @media (min-width: @break-t-min) {
        display: none;
    }
}

.section__container--center {
    align-items: center;
}

.section--m-white {
    @media (max-width: @break-t-max) {
        background: #fff;
    }
}

.section--padding-bottom-small {
    padding-bottom: 30px;

    @media (min-width: @break-t-min) {
        padding-bottom: 40px;
    }
}

.section__title--small {
    font-size: @font-size--medium;
}

.section--shadow {
    box-shadow: 0 1px 4px 0 rgba(55, 56, 64, 0.08);
}

.section__form-block--wider {
    padding: 30px 45px;

    @media (max-width: @break-t-max) {
        padding: 20px 20px;
    }
}

.section__form-block--no-border {
    border: 0;
}

.section__form-block--info {
    color: @color--brown-grey;
    background: #fffde3;

    .font(@font-size--xsmall, 500);
}

.section__form-block--sidebar {
    margin: 30px -20px -20px;
    padding: 20px;

    @media (min-width: @break-t-min) {
        margin: 30px -25px -25px;
        padding: 25px;
    }
}

.section--z-index-0 {
    position: relative;
    z-index: 0;
}