@import '../variables';
@import '../mixins';

.sidebar {

}

.sidebar__wrapper {
    padding: 20px;

    @media (min-width: @break-t-min) {
        padding: 20px 25px;
    }
}

.sidebar__button {
    margin-bottom: 20px;
}

.sidebar__media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #edeff0;
}

.sidebar__image {
    max-width: 100%;
}

.sidebar__info {

    & + & {
        margin-top: 20px;
    }
}

.sidebar__info-label {
    display: block;
    color: @color--primary;
    text-transform: uppercase;

    .font(@font-size--xxsmall, 600)
}

.sidebar__info-text {
    display: block;
    font-weight: 600;
}

.sidebar__form-title {
    margin-bottom: 10px;
}

.sidebar__info-link {
    color: inherit;
    text-decoration: underline;
}

.sidebar__icon {
    &.icon-linkedin1 {
        color: @color--blue;
    }
}

.sidebar__box {
    border-top: 1px solid #f0f2f3;
    padding: 25px;
    font-weight: 900;
}

// TODO this could be .socials and reused in footer
.sidebar__box-icons {
    display: flex;
    margin-top: 20px;
}

.sidebar__box-icon-wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid @color--primary;
    color: @color--grey;

    outline: none;
    transition: all .25s;

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:focus {

        &.sidebar__box-icon-wrapper--twitter {
            color: @color--twitter;
            border-color: @color--twitter;
        }

        &.sidebar__box-icon-wrapper--facebook {
            color: @color--facebook;
            border-color: @color--facebook;
        }

        &.sidebar__box-icon-wrapper--email {
            color: @color--primary;
            border-color: @color--primary;
        }
    }
}

.sidebar--person {
    .sidebar__media {
        padding: 0;
        border: 0;
    }

    .sidebar__wrapper {
        padding: 20px;

        @media (min-width: @break-t-min) {
            padding: 25px;
        }
    }
}

