.video-ratio {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-ratio__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
