@font-face {
  font-family: 'Leaf';
  src:
    url('fonts/Leaf.ttf?2vpht8') format('truetype'),
    url('fonts/Leaf.woff?2vpht8') format('woff'),
    url('fonts/Leaf.svg?2vpht8#Leaf') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Leaf' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-visibility_off:before {
  content: "\e90d";
}
.icon-visibility:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e90b";
}
.icon-linkedin1:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-brand:before {
  content: "\e903";
}
.icon-social:before {
  content: "\e903";
}
.icon-google-plus:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e916";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e911";
}
.icon-chevron-right:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e911";
}
.icon-chevron-thin-left:before {
  content: "\e909";
}
.icon-chevron-thin-right:before {
  content: "\e90a";
}
