@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?2vpht8') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?2vpht8') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?2vpht8#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-visibility_off {
  &:before {
    content: @icon-visibility_off; 
  }
}
.icon-visibility {
  &:before {
    content: @icon-visibility; 
  }
}
.icon-check {
  &:before {
    content: @icon-check; 
  }
}
.icon-star {
  &:before {
    content: @icon-star; 
  }
}
.icon-linkedin1 {
  &:before {
    content: @icon-linkedin1; 
  }
}
.icon-linkedin {
  &:before {
    content: @icon-linkedin; 
  }
}
.icon-instagram {
  &:before {
    content: @icon-instagram; 
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook; 
  }
}
.icon-brand {
  &:before {
    content: @icon-brand; 
  }
}
.icon-social {
  &:before {
    content: @icon-social; 
  }
}
.icon-google-plus {
  &:before {
    content: @icon-google-plus; 
  }
}
.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter; 
  }
}
.icon-envelope {
  &:before {
    content: @icon-envelope; 
  }
}
.icon-youtube {
  &:before {
    content: @icon-youtube; 
  }
}
.icon-search {
  &:before {
    content: @icon-search; 
  }
}
.icon-chevron-right {
  &:before {
    content: @icon-chevron-right; 
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter; 
  }
}
.icon-envelope {
  &:before {
    content: @icon-envelope; 
  }
}
.icon-youtube {
  &:before {
    content: @icon-youtube; 
  }
}
.icon-search {
  &:before {
    content: @icon-search; 
  }
}
.icon-chevron-thin-left {
  &:before {
    content: @icon-chevron-thin-left; 
  }
}
.icon-chevron-thin-right {
  &:before {
    content: @icon-chevron-thin-right; 
  }
}

