@icomoon-font-family: "Leaf";
@icomoon-font-path: "fonts";

@icon-visibility_off: "\e90d";
@icon-visibility: "\e90e";
@icon-check: "\e908";
@icon-star: "\e90b";
@icon-linkedin1: "\e907";
@icon-linkedin: "\e900";
@icon-instagram: "\e902";
@icon-facebook: "\e903";
@icon-brand: "\e903";
@icon-social: "\e903";
@icon-google-plus: "\e910";
@icon-close: "\e916";
@icon-twitter: "\e906";
@icon-envelope: "\e905";
@icon-youtube: "\e904";
@icon-search: "\e911";
@icon-chevron-right: "\e917";
@icon-twitter: "\e906";
@icon-envelope: "\e905";
@icon-youtube: "\e904";
@icon-search: "\e911";
@icon-chevron-thin-left: "\e909";
@icon-chevron-thin-right: "\e90a";

