@import '../../variables';

.menu-primary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;

    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

    @media (min-width: @break-t-min) {
        padding: 0 30px;
    }
}

.menu-primary__container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.menu-primary__lx-hide {
    @media(max-width: @break-l-min) {
        display: none;
    }
}

.menu-primary__right {
    justify-content: flex-end;

    white-space: nowrap;
}

.menu-primary__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-primary__item {
    position: relative;
    padding: 20px 0;

    &:hover {
        .menu-primary__submenu {
            display: block;
        }
    }

    @media (min-width: @break-t-min) {
        padding: 30px 0;
    }
}

.menu-primary__link {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    outline: none;
    transition: color .25s;

    &:active,
    &:focus,
    &:hover {
        color: @color--primary;
    }

    @media(min-width: @break-lx-min) {
        padding: 10px 15px;
    }
}

.menu-primary__nav {
    position: relative;

    @media (max-width: @break-l-max) {
        display: none;
    }
}

.menu-primary__search {
    margin: 0 10px;

    @media (min-width: @break-lx-min) {
        margin: 0 20px;
    }
}

.menu-primary__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 300px;

    display: none;
    padding: 0;

    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

    list-style: none;

    .menu-primary__item {
        padding: 0;
    }

    .menu-primary__link {
        padding: 9px 20px;
        transition: background .2s ease, color .2s ease;

        .font(12px, 500);

        &:focus,
        &:hover {
            color: @color--primary;
            background: #efefef;
        }
    }
}

.menu-primary__icon {
    position: absolute;
    top: 100%;
    right: 50%;
    z-index: 1;

    font-size: 8px;

    transform: translateX(50%) rotateZ(90deg);
    transform-origin: center;
}

.menu-primary__search-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    background: #fff;

    visibility: hidden;
    opacity: 0;

    transform-origin: right center;

    transition: visibility .25s, opacity .25s;
}

.menu-primary__search-bar--active {
    visibility: visible;
    opacity: 1;
}

.menu-primary__search-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #efefef;
    padding: 10px;
    outline: none;
}

.menu-primary__container--end {
    justify-content: flex-end;
}