.menu-bar {
    position: relative;
    z-index: 300;

    background: #fff;
}

.has-active-slide-menu .menu-bar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}