@import '../../variables';

.menu-login {
}

.menu-login__wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-login__item:first-child {
    margin-left: 0;
}

.menu-login__item {
    position: relative;
    margin-left: 10px;
    padding: 30px 0;

    &:hover {
        .menu-login__submenu {
            display: block;
        }
    }
}

.menu-login__link {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: @color--grey;
    transition: color .25s;
    outline: none;

    &:active,
    &:focus,
    &:hover {
        color: @color--primary;
    }
}

.menu-login__submenu {
    position: absolute;
    top: 100%;
    right: -30px;
    left: 0;
    z-index: 1;

    display: none;
    padding: 0;

    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

    list-style: none;

    .menu-login__item {
        padding: 0;
        margin-left: 0;
    }

    .menu-login__link {
        padding: 9px 30px;
        color: #000;
        transition: background .2s ease, color .2s ease;

        .font(12px, 500);

        &:focus,
        &:hover {
            color: @color--primary;
            background: #efefef;
        }
    }
}

.menu-login--full {
    display: flex;
    flex: 1 1 auto;
}

.menu-login__item--full {
    display: flex;
    flex: 1 1 100%;
}