<template>
    <div
            class="select-box"
            :class="{'select-box--active': isActive}"
    >
        <div class="select" @click.prevent="showOptions">
            <slot></slot>
            <span class="select__icon icon-chevron-thin-right js-select-icon"></span>
        </div>

        <transition name="transition-drop">
            <div class="select-box__options transition-drop" v-show="isActive">

                <div
                        class="form__item no-margin"
                        v-for="input in collection"
                >
                    <label class="form__label form__label--checkbox">
                        <input
                                class="checkbox"
                                type="checkbox"
                                :value="input.value"
                                :name="`${name}[]`"
                                v-model="output"
                        >

                        <div class="checkbox-visual">
                            <span class="form__icon icon-check"></span>
                        </div>

                        <span class="checkbox-text">{{ input.label }}</span>
                    </label>
                </div>

                <button
                        type="submit"
                        class="select-box__submit"
                >
                    Potvrdiť výber
                </button>
            </div>
        </transition>

        <!--This is here just to ilustrate output of select box-->
        {{ output }}
    </div>
</template>

<script>
    export default {
        props: {
            collection: {
                type: Array,
                default: () => [
                    {
                        value: 'Polozka 1',
                        label: 'Polozka 1',
                        id: 1,
                    },
                    {
                        value: 'Polozka 2',
                        label: 'Polozka 2',
                        id: 2,
                    },
                    {
                        value: 'Polozka 3',
                        label: 'Polozka 3',
                        id: 3,
                    },
                ],
            },
            name: {
                type: String,
                required: true,
            },
            selected: {
                type: Array,
                default: () => [],
            },
        },
        data() {
            return {
                isActive: false,
                output: [],
            }
        },
        mounted() {
            this.findIntersection()
        },
        methods: {
            anonymFunc(ev) {
                this.clickOutside(ev)
            },
            applySelectBox() {
                this.$emit('input', this.output)
            },
            showOptions() {
                this.isActive = !this.isActive

                if (this.isActive) {
                    document.addEventListener('click', this.anonymFunc)
                }
            },
            clickOutside(ev) {
                const el = this.$el

                if ((el === ev.target) || !el.contains(ev.target)) {
                    this.isActive = false
                    document.removeEventListener('click', this.anonymFunc)
                }
            },
            findIntersection() {
                const a = new Set(this.collection.map(item => item.value))
                const b = new Set(this.selected.map(item => item[`${this.name}[]`]))

                const intersection = new Set(
                    [...a].filter(x => b.has(x)),
                )

                this.output = [...intersection]
            },
        },
    }
</script>