@import '../../variables';
@import '../../mixins';

.checkbox-visual {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;

    height: 18px;
    width: 18px;
    background: white;

    .form__icon {
        display: none;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        color: #fff;
        transform: translate(-50%,-50%);

        .font(13px, 700);
    }

    &:after,
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 100%;
        height: 100%;


        border-radius: 2px;

        content: '';
    }

    &:before {
        z-index: 1;
        opacity: 0;
        visibility: hidden;

        background: @color--primary;

        transition: all .25s ease;
    }

    &:after {
        z-index: 0;
        border: 1px solid @color--primary;
    }
}

.checkbox[type=checkbox] {
    opacity: 0;
    visibility: hidden;

    &:checked ~ .checkbox-visual {

        &:before {
            opacity: 1;
            visibility: visible;
        }

        .form__icon {
            display: block;
        }
    }
}