@import '../../mixins';

@form-item--margin-y: 15px;

.form {
    display: block;
    .font(16px, 400);

    @media(min-width: @break-t-min) {
        .font(15px, 400);
    }
}

.form__header {
    text-align: center;
    font-size: @font-size--large;
    font-weight: 900;
}

.form__submit-wrapper {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 15px;
}

.form__item {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: @form-item--margin-y;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__label {
    position: relative;
    display: flex;

    color: @color--dark;
}

.form__label--checkbox,
.form__label--radio {
    padding: 5px 0 5px 17px;
    color: @form-color--text;
    line-height: 1.3;

    &:hover {
        cursor: pointer;
    }
}

.form__label-text {
    position: absolute;
    top: 14px;
    left: 1px;
    right: 1px;

    padding-left: 10px;
    background: #fff;

    z-index: 1;

    transition: all .2s ease;
}

.form__label-text--focus {
    top: 5px;
    color: @color--grey;
    font-size: @font-size--xxsmall;
}

.form__input {
    display: block;
    width: 100%;
    height: 50px;

    padding: 21px 15px 5px 10px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    background: #fff;
    box-shadow: 0 0 5px transparent;
    appearance: none;
    transition: all .3s ease;

    color: @color--dark;
    .font(16px, 500);

    &:active,
    &:focus {
        outline: none;
    }

    @media(min-width: @break-t-min) {
        .font(14px, 500);
    }
}

.form__note {
    padding: 5px 0;
    color: #9a9a9a;
    font-size: 11px;
    text-align: center;
}

.form__links {
    font-size: 12px;
    text-align: center;
}

.form__link {
    text-decoration: underline;
}

.form__sum {
    padding: 0 0 13px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: @font-family--primary;
    .font(13px, 600)
}

.form__label-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    display: flex;

    color: @color--grey;
    cursor: pointer;

    transform: translateY(-50%);

    .form__icon {
        display: block;
        font-size: 18px;

        transition: color .25s ease;

        &:hover,
        &:focus {
            color: darken(@color--grey, 50%)
        }
    }

    .icon-visibility_off {
        display: none;
    }
}

.form__textarea-overlay {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 0;
    width: calc(100% - 2px);
    height: 25px;
    background: #fff;
}

.form__input--textarea {
    height: auto;
    padding-top: 20px;
    line-height: 1.5;
}

.form--login {
    width: 100vw;
    max-width: 265px;
    margin: auto;
}

.form__links--left {
    text-align: left;
}

.form__submit-wrapper--no-margin {
    margin: 0;
}

.flatpickr-input.form-control:disabled,
.flatpickr-input.form-control[readonly] {
    background-color: initial;
    opacity: 1;
}
