@import '../../variables';
@import '../../mixins';

.radio-visual {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    height: 18px;
    width: 18px;

    border-radius: 100%;
    background: white;

    transform: translateY(-50%);

    &:after,
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        border-radius: 100%;

        content: '';
        transition: all .25s ease;
    }

    &:before {
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        z-index: 1;

        background: #fff;

        opacity: 0;
        visibility: hidden;

        transform: translate(-50%,-50%);
    }

    &:after {
        z-index: 0;
        border: 1px solid @color--primary;
    }
}

.radio[type=radio] {
    opacity: 0;
    visibility: hidden;

    &:checked ~ .radio-visual {

        &:before {
            opacity: 1;
            visibility: visible;
        }

        &:after {
            background: @color--primary;
        }

        .form__icon {
            display: block;
        }
    }
}

.radio__checker {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;

    width: 100%;
    height: 100%;

    display: none;
    border-radius: 100%;
    color: #fff;
}