@import '../../variables';

.select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    padding: 5px 20px 5px 10px;

    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 13px;
    line-height: 1.5;
    background: #fff;
    color: #353535;

    outline: none;

    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }
}

.select__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;

    color: @color--primary;
    font-weight: bold;
    font-size: 13px;
    background-color: #fff;

    pointer-events: none;

    transition: transform .3s;
    transform: translateY(-50%) rotateZ(90deg);
}