@import '../../variables';

.select-box {
    position: relative;
    width: 100%;
    font-size: 13px;
}

.select-box__title {
    position: relative;
    padding: 10px 15px;
    color: #353535;
    background-color: #e9e9e9;
    border-radius: 2px;
    line-height: 1.6;

    &:hover {
        cursor: pointer;
    }

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';

        width: 10px;
        padding: 12px;
        //background: url(../assets/svg/down-arrow.svg) no-repeat ~"center/10px";

        transform: rotate(0deg);
        transition: all .3s ease;
    }
}

.select-box--active {

    .select-box__title {

        &:after {
            transform: rotate(180deg);
        }
    }
}

.select-box__options {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1000;

    padding: 10px 15px;
    margin-top: 6px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.select-box__option {
    display: block;
    padding: 5px 0;
}

.select-box__submit {
    width: 100%;
    display: inline-block;
    padding: 10px;
    color: @color--primary;
    font-weight: 700;
    background: white;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    cursor: pointer;
    transition: color .25s;

    &:hover {
        color: @color--highlight;
    }
}