@import '../variables';
@import '../mixins';

.accordion {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(55, 56, 64, 0.08);
    border-radius: 3px;
}

.accordion__item {
    position: relative;
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #f0f2f3;

    &:last-child {
        border: 0;
    }

    .is-active {
        .accordion__icon {
            transform: translateY(-50%) rotateZ(-90deg);
        }
    }
}

.accordion__header {

    &:hover {
        cursor: pointer;
    }
}

.accordion__title {
    position: relative;
    display: block;
    padding: 20px 30px 20px 20px;

    .font(@font-size--smedium, 700);

    @media(min-width: @break-t-min) {
        padding: 20px 100px 20px 30px;
    }
}

.accordion__text {
    display: block;
    padding: 0 20px 20px 20px;

    @media(min-width: @break-t-min) {
        padding: 0  30px 40px 30px;
    }
}

.accordion__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    color: @color--primary;

    pointer-events: none;

    transform: translateY(-50%) rotateZ(90deg);
    transition: transform .25s;

    .font(18px, 900);

    @media (min-width: @break-t-min) {
        right: 30px;
    }
}

.js-content {
    height: 0;
    overflow: hidden;
    transition: height .2s;
}
