@import "../variables";

.alert {
    position: relative;
    width: 100%;
    padding: 15px 30px 15px 15px;
    background: #e86767;
    color: #fff;
    display: none;

    @media (min-width: @break-m-min) {
        position: absolute;
        top: 13px;
        left: 30px;
        z-index: @z-assets;
        width: 290px;

        &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 20px;
            z-index: 1;

            //triangle
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 12px solid #e86767;
        }
    }
}

.alert__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: transform .25s ease;

    &:hover {
        transform: rotateZ(-90deg)
    }
}