@import '../variables';
@import '../mixins';

.article {

    h2 {
        margin-bottom: 15px;
        font-size: @font-size--medium;
    }

    ul {
        padding: 0;
        list-style-type: none;

        li {
            position: relative;
            line-height: 1.6;
            padding-left: 15px;
        }

        li:before {
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 0;

            width: 5px;
            height: 5px;

            content: '';
            background-color: @color--primary;
            border-radius: 50%;
        }

        @media (min-width: @break-t-min) {
            padding-left: 15px;
        }
    }
}

.article__spacing {
    padding: 20px;

    @media (min-width: @break-t-min) {
        padding-left: 30px;
        padding-right: 50px;
    }
}

.article__header {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: @break-t-max) {
        padding-top: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid @color--border;
    }
}

.article__title {
    margin: 0;
    .font(@font-size--xxmedium, 700);
    line-height: 1.23;

    @media (min-width: @break-t-min) {
        .font(@font-size--large, 700);
    }
}

.article__meta {
    color: @color--grey;
}

.article__media {
    width: 100%;
    margin-bottom: 10px;

    img {
        width: 100%;
    }
}

.article__button {
    margin-top: 25px;
}

.article__content {
    padding-bottom: 30px;
}

.article__list-block {
    border-top: 1px solid #f0f2f3;
    border-left: 4px solid @color--primary;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article__list-block--blue {
    border-left: 4px solid @color--blue-green;

    ul {

        li:before {
            background-color: @color--blue-green;
        }
    }
}

.article__header--person {
    padding-bottom: 10px;
}
