@import '../variables';

.btn,
.btn-outline {
    display: inline-block;
    padding: @btn-padding;
    border-radius: @btn-radius;
    line-height: 1.5; // Normalize default button line-height
    vertical-align: top; // Trick to get rid off underneath space in div because of inline-block

    box-shadow: @btn-shadow;

    font-weight: 600;
    text-align: center;
    text-decoration: none;

    cursor: pointer;

    transition: color .3s ease, background-color .3s ease;
}

.btn {
    border: none;
    /**
     * Default button style
     */
    color: @btn-color;
    background: @btn-background;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background-color: darken(@color--primary, 10%);
        color: #fff;
    }
}

.btn-outline {
    border: 1px solid @color--primary;

    /**
     * Default button style
     */
    color: @color--primary;
    background: #fff;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background-color: @color--primary;
        color: #fff;
    }
}

.btn--secondary {
    background-color: @color--secondary;

    &:hover {
        background: darken(@color--secondary, 10%);
    }
}

.btn--blank {
    background: #fff;
    color: @color--primary;

    &:hover {
        color: #fff;
        background: @color--primary;
    }
}

.btn--facebook {
    background: @color--facebook;

    &:hover {
        background: darken(@color--facebook, 10%);
    }
}

.btn--twitter {
    background: @color--twitter;

    &:hover {
        background: darken(@color--twitter, 10%);
    }
}

.btn--google-plus {
    background: @color--google-plus;

    &:hover {
        background: darken(@color--google-plus, 10%);
    }
}

.btn--block {
    width: 100%;
}

.btn--big {
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn--wide {
    padding-left: 40px;
    padding-right: 40px;
}

.btn--no-radius {
    border-radius: 0;
}

.btn-group {
    display: flex;

    .btn:not(:last-child) {
        margin-right: @btn-group-margin;
        margin-bottom: @btn-group-margin;
    }

    &--column {
        flex-direction: column;

        .btn:not(:last-child) {
            margin-right: 0;
        }
    }
}
