@import '../variables';
@import '../mixins';

.hcard {
    display: flex;
    flex-direction: column;
    width: 650px;
    max-width: 100%;
    margin: 0 auto;

    font-family: @font-family--default;

    @media (min-width: @break-t-min) {
        flex-direction: row;
    }
}

.hcard__inner {

    @media (min-width: @break-t-min) {
        flex: 1 1 450px;
        max-width: 450px;
        padding-left: 50px;
    }
}

.hcard__image-wrapper {
    width: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.hcard__image {
    display: block;
    width: 170px;
}

.hcard__title {
    font-weight: 700;
    font-family: @font-family--primary;
    font-size: @font-size--medium;
    text-transform: uppercase;
}

.hcard__content {
    margin: 10px 0;
    line-height: 1.6;

    .font(14px, 500);
}

.hcard__link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}

.hcard__meta {
    margin-bottom: 10px;
    color: #9b9b9b;
    text-align: center;

    @media (min-width: @break-t-min) {
        text-align: left;
    }
}

.hcard--horizontal {
    flex-direction: column;
    text-align: center;

    .hcard__image-wrapper {
        width: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        border-radius: 0;
    }

    .hcard__inner {
        max-width: none;
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }

    .hcard__title {
        text-transform: none;
    }

    .hcard__content {
        margin-bottom: 30px;
    }
}