@import '../variables';
@import '../mixins';

.info-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 30px 20px 0 20px;
    background: #fff;
    box-shadow: 0 3px 25px 0 rgba(55, 56, 64, 0.15);
    border-radius: 3px;

    @media(min-width: @break-t-min) {
        flex-wrap: nowrap;
        padding: 30px 20px 40px 20px;
    }
}

.info-box__item {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    max-width: 50%;

    text-align: center;

    @media(min-width: @break-t-min) {
        flex-basis: auto;
        max-width: none;
    }
}

.info-box__important {
    font-family: @font-family--primary;

    transition: visibility 1s, opacity 1s ease;

    .font(@font-size--xxxmedium, 700);

    @media(min-width: @break-t-min) {
        font-size: @font-size--xlarge;
    }
}

.info-box__text {
    margin-bottom: 30px;
    color: @color--grey;

    .font(@font-size--small, 400);

    @media(min-width: @break-t-min) {
        margin-bottom: 0;
    }
}