@import '../variables';
@import '../mixins';

.list {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(55, 56, 64, 0.08);
    border-radius: 3px;
}

.list__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    position: relative;
    display: flex;
    border-bottom: 1px solid #f0f2f3;

    &:last-child {
        border: 0;
    }

    @media (max-width: @break-t-max) {

        &:hover {

            .list__item-title {
                color: @color--primary;
            }
        }
    }
}

.list__image-wrapper,
.list__button-wrapper {
    width: 150px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list__image-wrapper {
    @media (max-width: @break-t-max) {
        display: none;
    }
}

.list__image {
    width: 74px;
    height: auto;
}

.list__text-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 15px 25px 15px 15px;
    line-height: 1.3;

    @media (min-width: @break-t-min) {
        padding: 15px 15px 15px 0;
    }
}

.list__item-title,
.list__item-text,
.list__item-meta {
    margin: 0;
}

.list__item-title {
    .font(@font-size, 700);
    transition: color .3s ease;
}

.list__item-meta {
    color: @color--grey;
    line-height: 1.7;

    .font(13px, 500);
}

.list__button-wrapper {
    border-left: 1px solid #f0f2f3;

    @media (max-width: @break-t-max) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-start;
    }
}

.list__item-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    padding: 17px 7px;
    .font(14px, 600);

    @media (min-width: @break-t-min) {
        align-items: center;
        justify-content: center;
        padding: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.list__button-text {
    display: none;

    @media (min-width: @break-t-min) {
        display: block;
    }
}

.list__button-icon {
    display: block;

    @media (min-width: @break-t-min) {
        display: none;
    }
}

.list--persons {
    .list__image-wrapper {
        padding: 15px 10px;
    }

    @media (max-width: @break-t-max) {
        .list__image-wrapper {
            width: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 15px 0 15px 15px;
        }

        .list__button-icon {
            display: none;
        }

        .list__text-wrapper {
            padding: 15px;
        }
    }
}