@import "../variables";

.map {
    height: 300px;
    background-color: #7f8891;

    @media(min-width: @break-t-min) {
        height: 500px;
    }
}

.map--small {
    @media(min-width: @break-t-min) {
        height: 300px;
    }
}

.map__wrapper {
    height: 100%;
}

.map--big {
    height: 300px;

    @media(min-width: @break-t-min) {
        height: 600px;
    }
}