@import '../variables';
@import '../mixins';

@padding--medium: 30px;
@padding--big: 35px;

.mast-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
}

.mast-head__image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 38.09%;

    @media(max-width: @break-t-max) {
        height: auto;
        padding-bottom: 0;
    }
}

.mast-head__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    @media(max-width: @break-t-max) {
        position: static;
        height: auto;
        display: block;
    }
}

.mast-head__text-container {
    padding: 0 20px;

    background: @gradient--primary;
    color: #fff;
}

.mast-head__text-wrapper {
    max-width: @container-width;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;

    text-align: center;

    @media (min-width: @break-t-min) {
        padding: @padding--medium 50px;
    }
}

.mast-head__title {
    line-height: 1.2;
    margin-bottom: 0;

    .font(@font-size--xmedium, 700);

    @media (min-width: @break-t-min) {
        font-size: @font-size--large;
    }
}

.mast-head__text {
    margin: 20px 0 0;
    font-family: @font-family--primary;
    font-weight: 600;

    @media (min-width: @break-t-min) {
        padding: 0 40px;
    }
}

.mast-head__button {
    margin-top: 20px;
    font-size: 14px;
}

.mast-head--medium,
.mast-head--small {
    .mast-head__image-container {
        height: 100px;
        padding-bottom: 0;
    }

    .mast-head__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.mast-head--medium {
    .mast-head__image-container {
        @media (min-width: @break-t-min) {
            height: 300px;
        }
    }
}

.mast-head--small {
    .mast-head__image-container {
        height: 250px;
    }
}

.mast-head__text-wrapper--offset {
    padding-bottom: 90px;
}

.mast-head__image-container--ultra-wide {
    padding-bottom: 18.09%;
}

.mast-head__title--big {
    font-size: @font-size--xxmedium;

    @media (min-width: @break-t-min) {
        font-size: @font-size--xlarge;
    }
}

.mast-head__padding-big {
    padding-top: @padding--big;
    padding-bottom: @padding--big;
}

.mast-head__text-wrapper--static-offset {
    padding-bottom: @offset--static + @padding--big;
}

