@import '../mixins';

.media-box {
    padding-bottom: 30px;
}

.media-box__group {
    display: flex;
    flex-direction: column;
}

.media-box__item {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: @break-t-min) {
        padding: 0 20px;
    }
}

.media-box__title {
    display: none;
    margin-bottom: 40px;

    .font(@font-size--medium, 700);

    @media (min-width: @break-t-min) {
        display: block;
    }
}

.media-box__image-wrapper {
    flex: 0 0 48px;
    margin-right: 30px;
}

.media-box__image {
    width: 100%;
}

.media-box--vertical {
    padding: 0;

    .media-box__item {
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @media(min-width: @break-t-min) {
            flex-direction: column;
        }
    }

    .media-box__image-wrapper {
        flex: 0 0 82px;

        @media(min-width: @break-t-min) {
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            margin: 0 0 5px 0;
            width: 100%;
        }
    }

    .media-box__image {
        @media(min-width: @break-t-min) {
            max-width: 100%;
            max-height: 190px;
            width: auto;
            height: auto;
        }
    }

    .media-box__content {
        width: 100%;
        line-height: 1.5;
    }

    .media-box__image--big {
        @media(min-width: @break-t-min) {
            height: 190px;
        }
    }

    @media(min-width: @break-t-min) {
        padding-bottom: 10px;
        text-align: center;
    }

    @media (max-width: @break-t-max) {
        margin-bottom: 20px;
    }
}

.media-box--no-padding {
    margin: 0;
}