@import '../variables';

.pagination {

}

.pagination__wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.pagination__link {
    display: block;
    padding: 7px;
    margin: 0 3px;
    color: @color--grey;

    transition: color .25s, font-weight .25s;

    &:hover,
    &:focus {
        color: @color--dark;
        font-weight: 600;
    }
}

.pagination__item--active {
    .pagination__link {
        color: @color--dark;
        border-bottom: 2px solid @color--primary;
        font-weight: 600;
    }
}