@import '../variables';

.partner {
    margin-bottom: 20px;
    height: 90px;
    text-align: center;

    &:last-child {
        margin-bottom:0;
    }
}

.partner__image {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 70px;

    @media(min-width: @break-s-min) {
        max-height: 90px;
        max-width: 100px;
    }

    @media(min-width: @break-t-min) {
        max-height: 90px;
        max-width: 130px;
    }
}

