@import '../variables';

@popup-width: 600px;
@popup-transition-duration: .3s;

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @z-popup;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity @popup-transition-duration,
                visibility 0s @popup-transition-duration;
}

.popup__inner {
    position: relative;
    width: @popup-width;
    max-width: 90%;
    max-height: 90%;
    padding: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(75, 75, 75, 0.5);
    overflow: auto;
}

.popup__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    padding: 5px;
    font-size: 10px;
    cursor: pointer;
}

@media (max-width: @break-m-max) {

    .popup__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
        max-height: none;
        border-radius: 0;
    }

    .popup__close {
        position: static;
    }
}

/**
 * Modifiers
 */
.popup--open {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

/**
 * Helpers
 */
body.open-popup {
    position: fixed;
    overflow: hidden;
}
