@import '../variables';

.portrait,
.portrait--small,
.portrait__image {
    border-radius: 100%;
}

.portrait {
    width: 150px;
    height: 150px;
}

.portrait__image {
    width: 100%;
    height: auto;
}

.portrait--small {
    width: 70px;
    height: 70px;
    padding: 5px;

    cursor: pointer;
}

.portrait--medium {
    width: 80px;
    height: 80px;
}

.portrait--active {
    border: 2px solid @color--primary;
    padding: 3px;
}