.separator {
    position: relative;
    padding: 35px 0;
    text-align: center;

    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;
        height: 1px;
        width: 100%;
        content: "";
        background: #f0f2f3;
        transform: translateY(-50%);
    }
}

.separator__text {
    position: relative;
    top: -2px;
    z-index: 1;

    padding: 0 20px;
    background-color: #fff;

    text-transform: uppercase;
    font-size: 13px;
    color: #9b9b9b;
}

.separator--grey-bc {
    &:before {
        background: #dbdee1;
    }

    .separator__text {
        color: #9b9b9b;
        background-color: #f6f8f9;
    }
}

.separator--slim {
    padding: 10px 0;
}

.separator--no-padding {
    padding: 0;
}