@import '../variables';
@import '../mixins';

@menu-color: @color--dark;
@menu-background: #f6f8f9;
@menu-break: 320px;
@menu-width: 263px;
@menu-height: 100vh;
@menu-link-paddingX: 20px;

body.has-active-slide-menu {
    overflow: hidden;
}

.slide-menu {
    position: absolute;
    z-index: -1;

    height: 100vh;
    width: 100%;

    overflow: hidden;
    visibility: hidden;
    background-color: @menu-background;
    transition: transform 0.3s, visibility .3s;
}

.slide-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-menu {

    &--slide-top {
        width: 100%;
        height: @menu-height;
        overflow-y: auto;
    }
}

.slide-menu__item {
    display: block;
    border-bottom: 1px solid #e8ecf0;
}

.slide-menu__item:last-child {
    border: 0;
}

.slide-menu__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px @menu-link-paddingX/2;
    color: @color--dark;
    text-decoration: none;

    .font(15px, 600);

    &.is-active {
        .slide-menu__icon {
            transform: rotateZ(-90deg);
        }
    }

    @media(min-width: @break-m-min) {
        padding: 15px @menu-link-paddingX;
    }
}

.slide-menu__icon {
    color: @color--primary;
    font-weight: bold;
    font-size: 13px;

    transition: transform .3s;
    transform: rotateZ(90deg);
}

.slide-menu__search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;

    transform: translateY(-50%);

    &:before {
        margin-top: -2px;
    }

    @media(min-width: @break-m-min) {
        right: @menu-link-paddingX;
    }
}

.slide-menu__search {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 10px;

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    border: 0;
    border-radius: 2px;
    outline: none;

    transition: box-shadow .25s ease;

    .font(16px, 400);

    &::placeholder {
        color: @color--grey;
    }

    &:active,
    &:focus {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.28);
    }

    @media(min-width: @break-m-min) {
        padding: 10px 50px 10px 10px;
    }
}

.slide-menu__social-icon {
    padding: 20px 10px;
    color: @color--grey;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        color: @color--dark;
    }
}

.slide-menu--sub-menu {
    display: none;

    .slide-menu__item:first-child {
        border-top: 1px solid #e8ecf0;
    }

    .slide-menu__link {
        padding: 10px 30px;
        color: lighten(@color--dark, 30%)
    }
}

.slide-menu--sub-menu.is-expanded {
    display: block
}

.slide-menu--slide-top {
    transform: translateY(-100%);
}

.slide-menu--slide-top.is-active,
.slide-menu--push-top.is-active {
    transform: translateY(0);
    visibility: visible;
}

.slide-menu__link--bigger {
    padding: 20px 10px;

    @media(min-width: @break-m-min) {
        padding: @menu-link-paddingX
    }
}

.slide-menu__link--socials {
    display: flex;
    justify-content: space-around;
    color: @color--grey;
    font-size: 24px;
}