@import '../variables';

.stars {
    display: flex;
}

.star {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 1px;
    padding: 0 1px;

    font-size: 12px;
    opacity: .55;

    &:last-child {
        margin-right: 0;
    }
}

.star--active {
    color: @color--primary;
    opacity: 1;
}
