.video-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &:before {
        display: block;
        content: '';
        padding-top: 56.25%;
    }

    .video-wrapper__item,
    iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.video-wrapper--shadow {
    box-shadow: 0 3px 25px 0 rgba(55, 56, 64, 0.4);
}