@import './variables';
@import './mixins';
@import '../fonts/icomoon/variables';


html,
body {
    background: #fff;
    color: @color--default;
    font-family: @font-family--default;
    font-size: @font-size;
    font-weight: 300;
    line-height: @line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (min-width: @break-m-min) {
        font-size: @font-size;
    }
}

.home-page {
    background: @color--bgr;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

main {
    min-height: 400px;
}

strong {
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.h1,
h1 {
    margin-bottom: 20px;
    font-family: @font-family--primary;
    .font(@font-size--xlarge, 700);
}

.h1--huge {
    line-height: 1;
    font-size: @font-size--xlarge;

    @media (min-width: @break-d-min) {
        font-size: @font-size--huge;
    }

    @media (min-width: @break-f-min) {
        font-size: @font-size--huge;
    }
}

.h2,
h2 {
    margin-bottom: 20px;
    font-family: @font-family--primary;
    .font(@font-size--xxmedium, 700);
}

.h3,
h3 {
    margin-bottom: 20px;
    font-family: @font-family--primary;
    .font(@font-size--smedium, 700);

    @media(min-width: @break-t-min) {
        .font(@font-size--medium, 600);
    }
}

hr {
    margin: @section-padding-mob 0 25px 0;
    height: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px dotted @color--light;
}

a {
    color: @color--primary;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

[v-cloak] {
    display: none !important;
}
