/**
 * Layout
 */
@break-f-min: 1600px;
@break-f-max: (@break-f-min - 1);
@break-lx-min: 1400px;
@break-lx-max: (@break-lx-min - 1);
@break-l-min: 1240px;
@break-l-max: (@break-l-min - 1);
@break-d-min: 1024px;
@break-d-max: (@break-d-min - 1);
@break-t-min: 768px;
@break-t-max: (@break-t-min - 1);
@break-m-min: 640px;
@break-m-max: (@break-m-min - 1);
@break-s-min: 414px; // iPhone 6+
@break-s-max: (@break-s-min - 1);

/**
 * Container
 */
@desktop-container-padding: 20px;
@tablet-container-padding: 20px;
@mobile-container-padding: 20px;

/**
 * Grid
 */
@grid-padding-s: 5px;
@grid-padding-m: 10px;
@grid-padding-t: 15px;
@grid-padding-d: 5px;
@grid-padding-l: 5px;
@grid-padding-f: 5px;

/**
 * Container
 */
@container-width: 1050px;

/**
 * Section
 */
@section-padding-mob: 20px;
@section-padding-v: 50px;
@section-padding-h: 70px;
@section-padding: @section-padding-v @section-padding-h;

/**
 * Fonts
 */
@font-family--default: 'Open Sans', sans-serif;
@font-family--primary: 'Nunito', sans-serif;
@font-size--xxsmall:    12px;
@font-size--xsmall:     13px;
@font-size--small:      14px;
@font-size:             15px;
@font-size--smedium:    18px;
@font-size--medium:     20px;
@font-size--xmedium:    22px;
@font-size--xxmedium:   26px;
@font-size--xxxmedium:  28px;
@font-size--large:      32px;
@font-size--xlarge:     35px;
@font-size--huge:       36px;

@line-height: 1.4;

/**
 * Colors
 */
@color--default: #303030;
@color--primary: #40b153;
@color--secondary: #0077b5;
@color--highlight: #078a92;
@color--light: #f3f6f9;
@color--lighter: #f6f8f9;
@color--dark: #0f0f0f;
@color--grey: #7f8891;
@color--brown-grey: #646464;

@color--blue-green: #088a92;
@color--blue: #0077b5;

@color--facebook: #2e4da7;
@color--twitter: #07a3f4;
@color--google-plus: #ce4136;
@color--pinterest: #ca2319;

@color--bgr: #fbfbfb;

@color--border: #f0f2f3;

/**
 * Gradients
 */
@gradient--primary: linear-gradient(to left, #078a92, #40b153);
@gradient--secondary: linear-gradient(to bottom, #dce0e4, #f6f8f9);
@gradient--card: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0, 0, 0, 0.5)), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

/**
 * Buttons
 */
@btn-color: #fff;
@btn-background: @color--primary;
@btn-padding--small: 12px 12px;
@btn-padding: 11px 20px;
@btn-padding--medium: 16px 15px;
@btn-padding--big: 15px 20px;
@btn-padding--large: 15px 30px;
@btn-group-margin: 7px;
@btn-radius: 2px;
@btn-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

/**
 * Z indexes
 */
@z-hidden: -1;
@z-assets: 100;
@z-overlay: 1000;
@z-popup: 10000;
@z-max: 16200;

/**
 * Transitions
 */
@transition-duration: .25s;

/**
 * Forms
 */
@form-item--margin-x: 15px;
@form-item--margin-y: 10px;

@form-color--label: #747474;
@form-color--text: #101010;

/**
 * Offsets
 */
@offset--static: 84px;